<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Connected</title>
</head>
<body>

    <div class="container">

        <div th:insert="~{fragments/fragments :: login-header}"></div>        <!-- Login header -->

        <div sec:authorize="isAnonymous()">                         <!-- body for not logged users -->

            Log in and become friends

        </div>


        <div sec:authorize="isAuthenticated()">                     <!-- body for logged users -->

            <!-- Friend request button -->

            <form th:object="${profileInfo}" action="#" th:action="@{''}" method="post">

                <input type="hidden" name="profileId" th:value="*{profileUser.id}">

                <div th:if="*{friendRequestStatus.name() == 'NOT_SENT'}">
                    <button type="submit" name="action" value="send-friend-request" class="btn btn-primary">Send friend request</button>
                </div>
                <div th:if="*{friendRequestStatus.name() == 'SENT'}">
                    <button type="submit" disabled name="action" value="#" class="btn btn-primary">Friend request has been sent</button>
                </div>
                <div th:if="*{friendRequestStatus.name() == 'RECEIVED'}">
                    <input type="hidden" name="friendRequestId" th:value="*{friendRequest.id}">
                    <button type="submit" name="action" value="accept-friend-request" class="btn btn-primary">Accept friend request</button>
                </div>
                <div th:if="*{friendRequestStatus.name() == 'ACCEPTED'}">
                    <button type="submit" disabled name="action" value="#" class="btn btn-primary">You are friends already</button>
                </div>

            </form>

            <!-- Friend request button END -->

        </div>  <!-- body for logged users END -->

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>